---
import SiteLayout from "../../layouts/SiteLayout.astro";
import TilComponent from "../../components/TilComponent.astro";
import { getCollection } from "astro:content";

const tils = (await getCollection("til")).sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);

const nonDraftTils = tils.filter((til) => {
  return Object.keys(til.data).length > 0 && !til.data.draft;
});
---

<SiteLayout>
  <h4 class="heading">A (mostly) daily updated list of things I learn/read</h4>

  <section>
    <ul><TilComponent tils={nonDraftTils} /></ul>
  </section>
</SiteLayout>

<style>
  .heading {
    margin-bottom: 15px;
  }
</style>
