@import "open-props/normalize";
@import "open-props/fonts";
/* @import "open-props/sizes"; */
@font-face {
  font-family: "wotfardregular";
  src: url("/fonts/wotfard-regular-webfont.eot");
  src: url("/fonts/wotfard-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/wotfard-regular-webfont.woff2") format("woff2"),
    url("/fonts/wotfard-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body {
  line-height: var(--font-lineheight-1);
  color: rgb(249, 246, 246);
  font-family: "wotfardregular";
  height: 100%;
}

main {
  min-height: 60vh;
}

a {
  /* color: #d9e2f3; */
  position: relative;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074d9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

/* nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}  */
