---
import SiteLayout from "../layouts/SiteLayout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<SiteLayout>
  <h5>My blogs on topics I like exploring and deep-diving</h5>
  <br />
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <h4>
              <a href={post.url}>{post.frontmatter.title}</a>
            </h4>
            <time datetime={post.frontmatter.pubDate}>
              {new Date(post.frontmatter.pubDate).toLocaleDateString("en-us", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </time>
          </li>
        ))
      }
    </ul>
  </section>
</SiteLayout>
<style>
  li {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
</style>
