---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <h1>
    <b
      >I am an application developer at <a
        href="https://www.thoughtworks.com/en-in">ThoughtWorks</a
      >
    </b>
  </h1>
  <p>Welcome to my digital garden</p>
  <p>Here, I share my thoughts on tech and non tech topics.</p>
  <p>
    This is an evolving site built using <a href="https://astro.build/">Astro</a
    >
  </p>
</SiteLayout>
