---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <h5>
    I am an application developer at <a
      href="https://www.thoughtworks.com/en-in">ThoughtWorks</a
    >
  </h5>
  <br />
  <p>Welcome to my digital garden</p>
  <p>Here, I share my thoughts on tech and non tech topics.</p>

  <p style="margin-top: 3vh">
    Below is a talk I gave on module bundlers for <a
      href="https://sites.google.com/thoughtworks.com/unfold-ui/">UnfoldUI</a
    >
  </p>

  <iframe
    loading="lazy"
    height="500"
    src="https://www.youtube.com/embed/TbWo5ukhZYo?rel=0&showinfo=0&autohide=1"
    title="Unfold UI 2022 - State of bundlers"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</SiteLayout>

<style>
  @media screen {
  }
  iframe {
    width: min(90vw, auto);
    margin-top: 40px;
  }
</style>
