---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <h2>Well, Hello there!</h2>
  <h4>Welcome to my digital garden.</h4>
  <p>
    <br />
    I am a full stack enthusiast, interested in all things Web and Distributed! Currently,
    I am working as an application developer at <a
      href="https://www.thoughtworks.com/en-in">ThoughtWorks</a
    >
  </p>
  <p>
    This is where you can find <a href="/blog">My blog</a> , <a href="/about"
      >information about me</a
    > ,
  </p>
  <p>
    and <a href="/til">my ever evolving living TIL</a> .
  </p>
  <p style="margin-top: 3vh">
    Below is a talk I gave on module bundlers <a
      href="https://sites.google.com/thoughtworks.com/unfold-ui/">UnfoldUI</a
    > .
  </p>

  <iframe
    loading="lazy"
    height="500"
    src="https://www.youtube.com/embed/TbWo5ukhZYo?rel=0&showinfo=0&autohide=1"
    title="Unfold UI 2022 - State of bundlers"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</SiteLayout>

<style>
  @media screen {
  }
  iframe {
    width: min(90vw, auto);
    margin-top: 40px;
  }
</style>
