---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <div class="site-header">
    <a
      href="/"
      style="font-size: 4ch;font-weight: bolder;"
      onclick="navigator.vibrate(50);"
    >
      {SITE_TITLE}
    </a>
    <!-- <div
      style="cursor: pointer"
      onclick="window.open('https://github.com/ShaswatPrabhat', '_blank');"
    >
      <img
        src="/github-mark-white.svg"
        alt="Github profile link"
        class="social-header-logos"
      />
    </div> -->
  </div>

  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/til">TIL</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/notes">Notes</HeaderLink>
    <HeaderLink href="/library">Library</HeaderLink>
  </nav>
</header>
<style>
  .site-header {
    display: flex;
    align-items: center;
  }
  .social-header-logos {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-left: 30px;
  }
  header {
    margin: 0 0 2em;
    align-self: flex-start;
  }
  h2 {
    margin: 0.5em 0;
  }
  a {
    text-decoration: none;
  }
  nav {
    margin-top: 3vh;
    align-self: center;
  }
</style>
