---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = Astro.url.pathname.includes(String(href));
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    margin-right: 1vw;
  }
  a.active {
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-4);
  }
</style>
